<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gamesEntities" connectionString="metadata=res://*/GameDataModel.csdl|res://*/GameDataModel.ssdl|res://*/GameDataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Cyro\Documents\Visual Studio 2010\Projects\DTWrapper\DTWrapper\bin\Debug\games.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>